@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- Using tag helper to go to other pages -->
    <p>Enter <a asp-controller="Room" asp-action="List">ChatRoom</a>.</p>
</div>
