@{
    ViewData["Title"] = "Room List";
}
@model List<Room>

<div class="text-center">
    <h1 class="display-4">List of rooms</h1>
    <div>
        @foreach (var room in Model)
        {
            <!-- Using tag helper to go to other pages -->
            <div>
                @Html.ActionLink(room.Name, "Show", "Room", new { id = room.Id })
            </div>
        }
    </div>
</div>